name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          node-version-file: 'package.json' # Uses the "engines" field
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci

      # - name: Lint code base
      #   run: npm run lint

      - name: Run tests
        run: npm run test
      
      - name: Build
        run: npm run build
